body {
  font-family: Arial, sans-serif;
  background-color: #b5ecf3;
  font-size: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #b5ecf3;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#sobre-mim {
  background-color: #fdfdfd;
  padding: 50px;
}

#projetos {
  background-color: #fdfdfd;
  padding: 50px;
}

#projetos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projetos li {
  width: 45%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #e2e2e2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

#projetos li::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 50%);
  z-index: -1;
}

#projetos h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

#projetos p {
  margin-bottom: 0;
}

#contato {
  background-color: #333;
  color: #fff;
  padding: 50px;
}

#contato ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#contato li {
  margin-right: 20px;
}

#contato a {
  color: #0518ca;
  text-decoration: none;
}

#contato a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
